body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 10px 0 0 0;
    font-size: 28px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 254px;
    /* border: 3px solid white; */
    gap: 10px;
}

.evaluation-field {
    display: flex;
    justify-content: end;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

button.calculator-option {
    display: flex;
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border: none;
}

.digits-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.digit {
    color: white;
    background-color: rgb(61, 61, 61);
}

button.digit:active {
    background-color: rgb(104, 104, 104);
}

button.operator {
    color: black;
    background-color: goldenrod;
}

button.operator:active {
    background-color: rgb(255, 209, 91);
}

#clear {
    font-size: 24px;
}

.witty-remark-container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin: auto 0 0 0;
    font-size: 20px;
}